{% extends 'base.html' %}
{% block extrastyle %}
<link rel="stylesheet" href="{{url_for('static', filename='css/register.css')}}"/>
{% endblock %}
{% block content %}

<form method="post">
    <div class="register">
        <h3>Create Account</h3>
        <input type="text" name="username" placeholder="Username" value="{{uname}}"/><br>
        <input type="password" name="passcode" placeholder="Passcode" value="{{pcode}}"/><br>
        <input type="password" name="cpasscode" placeholder="Confirm Passcode" value="{{cpcode}}"/><br>
        <button type="submit" name="create">Submit</button><br>
    </div>
    {% if error %}
    <h3 id="errorMsg">{{error}}</h3>
    {% endif %}
</form>
{% endblock %}