#admindrop {
    display: inline-block;
    position: relative;
}

#adminButton {
    margin-right: 10px;
}

.menuAdmin {
    right: 10px;
    margin-top: 23%;
    background-color: rgb(70, 0, 127);
    border-radius: 10px;
    height: 800%;
    width: 220px;
    flex-direction: column;
    position: absolute;
    z-index: 2;
}

.menuAdmin h3 {
    background-color: rgb(70, 0, 127);
    padding-left: 6px;
    text-align: left;
}

#adminpaneltitle {
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px
}

.menuAdmin button {
    width: 100%;
    border-radius: 0;
    height: auto;
}

#purgebutton {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#adminmenuusers {
    background-color: rgb(33, 0, 75);
    height: inherit;
    width: auto;
    overflow-y: auto;
}