{% extends 'base.html' %}
{% block extrastyle %}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}"/>
{% endblock %}
{% block content %}

<div id="full-div">
    <div id="content-div">
        <div class="welcome" id="welcome-div">
            <img src="{{url_for('static', filename='images/Banner.png')}}" alt="Poruka Banner">
            <h1>Poruka Server</h1>
            <h3>@ {{address}}</h3>
        </div>

        <form method="post">
            <div class="login" id="login-div">
                <input type="text" placeholder="Username" name="user" value="{{user}}"/><br>
                <input type="password" placeholder="Password" name="code" value="{{code}}"/><br>
                <button type="submit" name="join">Login</button><br>
            </div>

            <div class="invitecode" id="register-div">
                <input type="text" placeholder="Invitecode" name="invitecode" value="{{invcode}}"/><br>
                <button type="submit" name="register">Register</button><br>
            </div>
        </form>
    </div>

    <div id="messages">
        {% if error %}
        <h3 id="errorMsg">{{error}}</h3>
        {% endif %}
    </div>
</div>

{% endblock %}