* {font-family: Arial, sans-serif;}

.interface#ui.active {
    filter:blur(10px);
    pointer-events: none;
    user-select: none;
}

.interface {
    height: 80vh;
    display: flex;
    width: 60vw;
    align-items: stretch;
}

.messagebox {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.privatemessage {
    background-color: rgb(33, 0, 75);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    overflow-y: scroll;
    height: 100%;
    width: 10%;
}

.online {
    border-top-right-radius: 10px;
    background-color: rgb(70, 0, 127);
    padding: 10px;
    display: flex;
}

.online a {
    margin-left: auto;
    margin-right: 0;
    text-decoration: none;
    color: white;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    background-color: rgb(49, 0, 88);
    border-radius: 10px;
}

.messages {
    overflow-y: auto;
    flex: 1;
    width: 100%;
    background-color: black;
}

.inputs {
    border-bottom-right-radius: 10px;
    background-color: black;
    border-top: 2px;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-style: solid;
    border-color: darkgray;
    height: 10%;
    display: flex;
}

.inputs textarea {
    padding: 5px;
    background-color: transparent;
    color: darkgray;
    width: 100%;
    resize: none;
    outline: none;
    border: none;
}

.text {
    padding-bottom: 6px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
}

.idttxt {
    display: flex;
    flex-direction: column;
    padding-right: 4px;
}

.imgtxt {
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 38px;
}

.usertxt {
    font-size: 10px;
    width: 44px;
    text-align: center;
}

/* .text:hover .usertxt {} */

.msgtxt {
    max-width: 80%;
    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: white;
    padding-top: 2px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 2px;
    width: fit-content;
    height: fit-content;
    font-size: 18px;
}

.server {
    color: darkgray;
    padding-left: 10px;
    padding-bottom: 6px;
    font-size: 14px;
}

.invitebox.active {
    top: 40%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.invitebox {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(70, 0, 127);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.invitebox h2 {
    text-align: center;
}

.invitebox p {
    text-align: center;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgb(49, 0, 88);
    border-radius: 10px;
}

.invbuttons {
    display: flex;
    flex-direction: row;
}

.invbuttons a {
    margin-left: auto;
    margin-right: 0;
    text-align: center;
    margin-bottom: 5px;
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 5px;
    background-color: rgb(175, 0, 0);
    border-radius: 10px;
}

.invbuttons button:active {
    background-color: rgb(0, 105, 0);
}

.invbuttons button {
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 5px;
    text-decoration: none;
    color: white;
    display: inline-block;
    border: none;
    padding: 5px;
    background-color: rgb(0, 175, 0);
    cursor: pointer;
    border-radius: 10px;
}

 /*rgb(70, 0, 127);*/