* {font-family: Arial, sans-serif;}

#login-div {
    padding: 5px;
    border: 2px;
    border-style: solid;
    border-color: gray;
}

#register-div {
    margin-top: 5px;
    padding: 5px;
    border: 2px;
    border-style: solid;
    border-color: gray;
}

h3 {
    text-align: center;
    padding-bottom: 4px;
}

button:active {
    border-color: rgb(49, 0, 88);
    background-color: rgb(49, 0, 88);;
}

button {
    padding: 5px;
    color: white;
    width: 100%;
    background-color: rgb(90, 0, 164);
    border-color: rgb(90, 0, 164);
    border-style: solid;
    cursor: pointer;
}

input {
    padding: 5px;
    border-style: solid;
    margin-bottom: 10px;
}