* {font-family: Arial, sans-serif;}

h3 {
    text-align: center;
}

button:active {
    border-color: rgb(49, 0, 88);
    background-color: rgb(49, 0, 88);;
}

button {
    padding: 5px;
    color: white;
    width: 100%;
    background-color: rgb(90, 0, 164);
    border-color: rgb(90, 0, 164);
    border-style: solid;
    cursor: pointer;
}

input {
    padding: 5px;
    border-style: solid;
    margin-bottom: 10px;
}